<html>
    <head>
        <style>
            .myDiv{
                padding: 300px 0;
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="myDiv">
            <h1> 
                IT Help Desk 
            </h1>
            <p>
                Enter Username and Password <br> 
                <button type="button"><a href="/helpdesk/signup">Sign Up</a></button>
            </p>
            <form>
                username <input type ="text"> <br><br> 
                password <input type ="password">
            </form>
        </div>
    </body>
</html>

