

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>
    <p> Username:    {{ user }} </p>
    <p> First Name:   {{ user.first_name }} </p>
    <p> Last Name:    {{ user.last_name }} </p>
    <p> Email:   {{ user.email }} </p>
    <p> Date Joined:   {{ user.date_joined }} </p>
    <p> Last Login   {{ user.last_login }} </p>
    <p> Staff:   {{ user.is_staff }} </p>
    </p>
    <p><a href= "profile/edit/{{ user.id }}">Edit</a></p>
    <p><a href= "profile/delete/{{ user.id }}">DELETE ACCOUNT</a></p>
    <p><a href="{% url 'home'%}">Return</a></p>    
</div>

{% endblock %}