<html>
    <head>
        <style>
            .center{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 850px;
            }
            .Div{
                width :200px;
                clear:both; 
                text-align:center;
            }
            .Div input{
                width:100%;
                clear: both;
            }
        </style>
    </head> 
    <body>
        <div class ="center">
            <div class="Div">
                <h1> 
                    IT Help Desk
                </h1>
                <p>
                    Create account <br>
                </p>
                <form>
                <label> username </label> 
                <input type ="text"> <br><br>  
                <label> Email </label>
                <input type ="text"> <br><br>
                <label> password </label> 
                <input type ="password"> <br><br>
                <label> confirm password </label>  
                <input type ="password">
                </form>
                <button type="submit">Submit</button> 
                <button type="button"><a href="/playground/loginpage">cancel</a></button>
            </div>
        </div>
    </body>   
</html>