<html>
    <head>
        <style>
            .center{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 850px;
            }
            .Div{
                width :200px;
                clear:both; 
                text-align:center;
            }
            .Div input{
                width:100%;
                clear: both;
            }
        </style>
    </head> 
    <body>
        <div class ="center">
            <div class="Div">
                <h1> 
                    IT Help Desk
                </h1>
                <p>
                    Create account <br>
                </p>
                <form action="." method="post">
                <label> First Name </label>
                <input type ="text"> <br><br>  
                <label> Last Name </label> 
                <input type ="text"> <br><br>  
                <label> Email </label>
                <input type ="email"> <br><br>
                <label> Password </label> 
                <input type ="password"> <br><br>
                <label> Confirm Password </label>  
                <input type ="password"><br><br>
                <input type="submit" value="Submit">
                </form>
                <button type="button"><a href="/playground/loginpage">Cancel</a></button>
            </div>
        </div>
    </body>   
</html>